doctype html 
html(lang="en")
    head
        link(rel="stylesheet", href="css/index.min.css")
        title Weather App
    body
        .popover#popover
            ul
        .loader
            .loader-content-tile Please allow location access
            .bars-3
        main
            .flex-main
                .flex-main-top
                    .flex-main-top-left Weather
                        span Iresh
                    .flex-main-top-right
                        img#shutter(src="./assets/shutter.png")
                .flex-main-bottom
                    .flex-main-bottom-first 
                        .flex-main-bottom-first-left#temp 41°
                        .flex-main-bottom-first-right
                            #more-info-parent
                                .more-info-box
                                    span Feels Like
                                    span#feels_like 35°
                                
                                .more-info-box
                                    span Temp min
                                    span#temp_min 35°

                                .more-info-box
                                    span Temp max
                                    span#temp_max 35°

                                .more-info-box
                                    span Weather
                                    span#weather 35°

                            #quote
                    hr
                    .flex-main-bottom-second
                        .flex-main-bottom-second-left#date hi
                        .flex-main-bottom-second-right
                            span#imgLocation Hello
                            button Change Image
        aside
            header 
                .text
                    span#location.red Rasbari
                    span#city Howrah
                .flag
                    img(src="https://www.countryflags.io/IN/flat/64.png")
            hr
            h4 Weather Details
            ul.weather(type="none")
                li
                    span Wind
                    span#wind 0
                li
                    span Humidity
                    span#humidity 0
                li
                    span Pressure
                    span#pressure 0
                li
                    span Clouds
                    span#clouds 0

            hr
            h4 Sunset &amp; Sunrise
            .flex
                .sunset-sunrise
                    .text
                        span Sunset
                        span#sunset 0
                    img(src="./assets/sunset.png")
                .sunset-sunrise
                    .text
                        span Sunrise
                        span#sunrise 0
                    img(src="./assets/sunrise.png")
            